{% extends 'partials/_master.twig' %}

{% block main %}

        {% if record is defined %}
<section class="section">
    <div class="container">
        <div class="column">
            <h1 class="title">{{ record.title }}</h1>

            {# Remove this block if you don't need it anymore. #}
            {{ include('partials/_fresh_install.twig') }}

            {{ record.teaser }}

            <figure class="image">
            {{ popup(record.image, 1200, 500) }}
            </figure>

            {% if record.body is not empty %}
            <a class="button" href="{{ record.link }}">» Continue reading</a>
            {% endif %}

            {#{{ include('partials/_recordfooter.twig', { 'record': record }) }}#}
        </div>
    </div>
</section>
    {% endif %}

{% endblock main %}
